<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MySsm</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:bean.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>hostServlet</display-name>
    <servlet-name>hostServlet</servlet-name>
    <servlet-class>com.wedding.servlet.hostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hostServlet</servlet-name>
    <url-pattern>/hostinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cameraServlet</display-name>
    <servlet-name>cameraServlet</servlet-name>
    <servlet-class>com.wedding.servlet.cameraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cameraServlet</servlet-name>
    <url-pattern>/camerainfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gownServlet</display-name>
    <servlet-name>gownServlet</servlet-name>
    <servlet-class>com.wedding.servlet.gownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gownServlet</servlet-name>
    <url-pattern>/gowninfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flowerServlet</display-name>
    <servlet-name>flowerServlet</servlet-name>
    <servlet-class>com.wedding.servlet.flowerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flowerServlet</servlet-name>
    <url-pattern>/flowerinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>maincarServlet</display-name>
    <servlet-name>maincarServlet</servlet-name>
    <servlet-class>com.wedding.servlet.maincarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>maincarServlet</servlet-name>
    <url-pattern>/maincarinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uCarServlet</display-name>
    <servlet-name>uCarServlet</servlet-name>
    <servlet-class>com.wedding.servlet.uCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uCarServlet</servlet-name>
    <url-pattern>/uCarinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.kdyzm.servlet.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackServlet</display-name>
    <servlet-name>BackServlet</servlet-name>
    <servlet-class>com.kdyzm.servlet.BackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackServlet</servlet-name>
    <url-pattern>/back</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findUserServlet</display-name>
    <servlet-name>findUserServlet</servlet-name>
    <servlet-class>com.wedding.servlet.findUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findUserServlet</servlet-name>
    <url-pattern>/findUser</url-pattern>
  </servlet-mapping>
</web-app>